.grid {
    border: 1px solid #e0e0e0;
}

.cell {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.focused-cell {
    background-color: #e0e0e0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    font-weight: bold;
}

.visualize-main {
    width: 1000px;
    padding-left: 10%;
    padding-top: 5%;
}

.visualize-header {
    text-align: center;
}

.visualize-footer {
    margin-top: 2%;
}

.visualize-form {
    margin-top: 2%;
}

.visualize-display {
    margin-top: 2%;
}

textarea {
    min-height: 300px;
}

.visualize-output {
    margin-top: 2%;
    min-height: 100px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.visualize-error {
    text-align: center;
    margin-top: 10%;
}

.warning-sign {
    font-size: 50px;
    color: red;
}
